@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 98%;
  --foreground: 0 0% 15%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 15%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 15%;
  --primary: 276.963 60% 40%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 97%;
  --secondary-foreground: 0 0% 15%;
  --muted: 0 0% 96%;
  --muted-foreground: 0 0% 55.6%;
  --accent: 0 0% 97%;
  --accent-foreground: 0 0% 15%;
  --destructive: 27.325 61.8% 57.7%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 92.2%;
  --input: 0 0% 92.2%;
  --ring: 276.963 60% 40%;
  --radius: 0.625rem;
}

.dark {
  --background: 0 0% 12%;
  --foreground: 0 0% 95%;
  --card: 0 0% 16%;
  --card-foreground: 0 0% 95%;
  --popover: 0 0% 16%;
  --popover-foreground: 0 0% 95%;
  --primary: 276.963 60% 60%;
  --primary-foreground: 0 0% 12%;
  --secondary: 0 0% 25%;
  --secondary-foreground: 0 0% 95%;
  --muted: 0 0% 25%;
  --muted-foreground: 0 0% 70.8%;
  --accent: 0 0% 25%;
  --accent-foreground: 0 0% 95%;
  --destructive: 25.723 56.4% 39.6%;
  --destructive-foreground: 25.331 55.2% 63.7%;
  --border: 0 0% 25%;
  --input: 0 0% 25%;
  --ring: 276.963 60% 60%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}